.start_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DungGeunMo";
  background: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
  text-transform: uppercase;
  position: relative;
  > button {
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background: transparent;
    font-size: 18px;
    font-family: "DungGeunMo";
    cursor: pointer;
  }
  .update_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    overflow-y: scroll;
    > p {
      font-size: 22px;
      text-align: center;
    }
    .xmark {
      position: absolute;
      top: 2%;
      right: 3%;
      cursor: pointer;
      font-size: 30px;
      cursor: pointer;
    }
    .update_item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid #aaa;
      padding-bottom: 10px;
    }
  }
}

.start_section > h1 {
  font-family: "DungGeunMo";
  font-size: 150px;
  text-align: center;
}

.start_section > a > p {
  margin-top: 50px;
  font-size: 60px;
  border: 5px solid #a18cd1;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    transform: translate(3px, 3px);
  }
}
